.animated-container {
    display: grid;
    grid-template-columns: 80% auto;
}

.animated-map-container {
    /* grid-template-columns: [sidebar-start] fit-content(50%) [content-start] fit-content(50%) [content-end]; */
    /* grid-template-columns: 25% 100px auto; */
    display: inline-block;
    grid-column-start: 1;
}

.box {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 100%;
}

.title {
    grid-column-start: 1;
    grid-column-end: 3;
}

text {
    /* font-family: 'Avenir', sans-serif; */
}

.axis .domain {
    stroke: none;
}

.x line {
    stroke: white;
}

.controls {
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 50px;
    /* margin-top: 40px; */
    /* grid-column-start: 0; */
}