body {
    padding-top: 80px;
    padding-right: 50px;
}

a#source {
    /* text-decoration: none; */
    color: black;
}

a#source:hover {
    color: blue;
}

#loading {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 180px;
    margin-left: 80px;
    /*width: 90%;*/
    padding: 10px;
    text-align: center;
}

.control-panel {
    padding-top: 30px;
    width: 200px;
}

.tooltip {
    postition: absolute;
    min-width: 60px;
    min-height: 28px;
    padding: 4px;
    /*background: yellow;*/
    color: "red";
    text-align: left;
    font: 12px sans-serif;
    border: 1px;
    border-radius: 3px;
    pointer-events: none;
    /*border: 1px solid gray;*/
}

.tooltip .title {
    fontsize: 14px;
}

.shadow {
    box-shadow: 1px 1px #888888;
}

#selected {
    box-shadow: 1px 1px #888888;
}

.chartTip {
    min-width: 60px;
    min-height: 28px;
    padding: 4px;
    background: white;
    color: "red";
    text-align: left;
    font: 12px sans-serif;
    border-radius: 2px;
    pointer-events: none;
    border: 1px solid gray;
    box-shadow: 1px 1px #888888;
}

.tooltip .date {
    font-weight: bold;
    fontsize: 14px;
}

path :hover {
    background-color: beige;
    fill: 'yellow';
    border: 3px solid black;
    stroke: 'blue';
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.6;
    shape-rendering: crispEdges
}

#legend-box {
    border: 1px solid gray;
    border-radius: 5px;
}

#range-value-bold {
    /*float: right;*/
    font-weight: bold;
}

#plot_png {
    /*height: 600px;*/
}

.selectCounty {
    margin-right: 20px;
}

button.link {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: left;
    color: white;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

li {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    float: right;
}

.header {
    color: white;
}

.chart-svg {
    /*background-color: #ddd;*/
    border: 1px solid gray;
    border-radius: 3px;
}