{% extends 'base.html' %} {% set active_page = 'animate' %} {% block content %}
<div class="box animated-container">
    <p class='links'>
        <span>
            <a href="/">Home</a> |
        </span>
        <span>
            <a href="/bar_chart" id="go-to-barchart"> Bar Chart </a>
        </span>
    </p>

    <div class="title">
        <H3>COVID-19 Cases by County Over Time</H3>
    </div>



    <div class="animated-map-container" id="bubbles">
        <!-- <div class="map-controls"><button id="pause-btn" class="pause">Pause</button></div> -->
    </div>
    <div class="map-controls">
        <button id="pause-btn" class="pause">Pause</button>
    </div>


</div>


<script src="./static/animate.js"></script>

{% endblock %}