{% extends 'base.html' %} {% set active_page = 'animate' %} {% block content %}
<div class="box animated-map-container" id="bubbles">
    <p class='links'>
        <!-- <button> -->
        <a href="/">
            Home
            </a>
        <!-- </button> -->
        <p>COVID-19 cases by county over time</p>
    </p>


    <div class="animated-container">

        <div class="box animated-content-container">

        </div>

    </div>
</div>


<script src="./static/animate.js"></script>

{% endblock %}