{% extends 'base.html' %} {% set active_page = 'animate' %} {% block content %}
<div class="box animated-container">
    <p class='links'>
        <span>
            <a href="/">Home</a> |
        </span>
        <span>
            <a href="/animate" id="go-to-animation"> Bubble Chart </a>
        </span>
    </p>

    <div class="title">
        <H3>COVID-19 Cases by County Over Time</H3>
    </div>

    <div class="bar-chart-container"></div>
    <div class="controls">
        <span> 
            <button id="skip-back-5-btn" class="skip-back-5"><<</button>
            <button id="skip-back-1-btn" class="skip-back-1"><</button>
            <button id="pause-btn" class="pause">Pause</button>
            <button id="skip-ahead-1-btn" class="skip-ahead-1">></button>
            <button id="skip-ahead-5-btn" class="skip-ahead-5">>></button>
        </span>
        <span>  <button id="reset-btn" class="reset">Reset</button></span>

    </div>




</div>

<script src="./static/bar_chart.js"></script>

{% endblock %}