{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
	<form method="POST" action="/data_view">
	  <label for="states">Choose a State:</label>
	  <select id="states" name="states">
	  	{% for state in states %}
			  <option value="{{state}}"{% if state == "California" %} selected {% endif %}>{{state}}</option>
			{% endfor %}
	  </select>

		<br>

	  <label for="counties">Choose a county:</label>
	  <select id="counties" name="counties">
	  	{% for county in counties %}
			  <option value="counties">{{county}}</option>
			{% endfor %}
	  </select>

	  <br>



	  <input type="submit">
  </form>

{% endblock %}