<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="">
        <a href="https://www.linkedin.com/in/eric-booker-29232350/" target="_blank" class="navbar-brand">
            <!-- <img src="{{ url_for('static', filename= 'images/profile_pic.png')}}" height="40px"> -->
            <img src="{{ url_for('static', filename= 'images/california_icon.png')}}" height="40px">

        </a>

        <ul class="header">
            <li><a href="https://www.linkedin.com/in/eric-booker-29232350/" target="_blank">Eric Booker</a></li>
            <li><a href="mailto:ericbooker12@gmail.com">ericbooker12@gmail.com</a></li>
        </ul>



    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Eric Booker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>