{% extends 'base.html' %} {% set active_page = 'home' %} {% block content %}
<div class="grid-container">
    <div class="box sidebar">
        <p class='links'>
            <span>
                <a href="/">Home</a> |
            </span>
            <span>
                <a href="/animate" id="go-to-animation"> Bubble Chart </a>
            </span> |
            <span>
                <a href="/bar_chart" id="go-to-barchart"> Bar Chart </a>
            </span>
        </p>

    </div>

    <div class="box content" id="chart">

    </div>

</div>
<script src="./static/states.js"></script>

{% endblock %}